#
# Copy this file to secrets.properties and fill in your keys
# DO NOT commit secrets.properties to the repository
#
MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE
OPENPOSITIONING_API_KEY=YOUR_OPENPOSITIONING_USER_KEY_HERE
OPENPOSITIONING_MASTER_KEY=ewireless
