/build
# NEW: do not commit secrets
secrets.properties

# NEW: do not commit generated/build outputs
**/build/

# NEW: do not commit generated protobuf Java
**/Traj.java

# NEW: old proto should not be committed (we use new_traj.proto)
app/src/main/proto/traj.proto
